@import "css/theme/white.css";

.slides.slides img {
  border: 0;
  box-shadow: none;
}


.reveal div.code-line {
  padding: 0 5px;
  margin: 0 -5px;
}

.code-line.diff-add {
    background-color: #cfc;
}

.code-line.diff-rem {
  background-color: #fcc;
}

.reveal pre code {
  background :white;
}
